Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

# MIME Types
AddType application/javascript .js
AddType text/css .css
AddType image/svg+xml .svg